<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Basic Mongoose App</title>
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <div class="wrapper">
      <h1>Welcome to Mongoose</h1>
      <fieldset>
        <legend>User Data</legend>
        <form action="/users" method="post">
          <div>
            <label for="name">Name</label>
            <input type="text" name="name">
          </div>
          <div>
            <label for="age">Age</label>
            <input type="number" name="age">
          </div>
          <button>Submit</button>
        </form>
      </fieldset>
      <ul>
        <% for ( user of users ) { %>
          <li>Name: <%= user.name %> Age: <%= user.age %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
